
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoggedIn</h2>

@if (Session["userId"] != null)
{
    <h4>Hello @Session["userName"].ToString()</h4>
}

